html
  include ../partials/head.pug
  body
    include ../partials/navbar.pug
    div.container.my-4.d-flex
      button.ml-auto.btn.btn-success.btn-sm(onclick="location.href = '/dashboard/new'") Create new post
    //- div.container.my-4
    //-   each i in posts
    //-     div.container.my-4
    //-       h2.post-title= i.title
    //-       p.post-date= i.createdAt
    //-       each paragraph in i.body.split('\n')
    //-         p.post-body.text-justify= paragraph 
