// Action determines the endpoint that this form will hit
// Once we hit the submit button
// Meanwhile, method means the HTTP Request Method
html
  include ../partials/head.pug
  body
    include ../partials/navbar.pug
    div
      div.container.my-4.d-flex
        form.form-control.form-group(action="/admin/posts/create" method="post")
          p= 'Title Movie'
          input.form-control.form-group(type="text" name="title" placeholder="Input movie title here")
          p= 'Synopsis'
          textarea.form-control.form-group(type="text" name="synopsis" placeholder="Input movie synopsis here")
          p= 'Category'
          select.form-control.form-group(name="category")
            option(value="action") Action
            option(value="drama")  Drama
            option(value="comedy") Comedy
            option(value="horor") Horor
            option(value="animation") Animation
          p= 'Actor'
          input.form-control.form-group(type="text" name="actor1" placeholder="Input movie actor 1 here")
          input.form-control.form-group(type="text" name="actor2" placeholder="Input movie actor 2 here")
          input.form-control.form-group(type="text" name="actor3" placeholder="Input movie actor 3 here")
          input.form-control.form-group(type="text" name="actor4" placeholder="Input movie actor 4 here")
          p= 'Director'
          input.form-control.form-group(type="text" name="director" placeholder="Input movie actor 1 here")
          p= 'Writer'
          input.form-control.form-group(type="text" name="writer" placeholder="Input movie actor 1 here")
          p= 'Release Date'
          input.form-control.form-group(type="date" name="actor1" placeholder="Input movie actor 1 here")
          button.ml-auto.btn.btn-primary.form-group(type="submit") Update Movie
